In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('data3.xlsx')

In [4]:
df.head()

,Unnamed: 0,record_id,athlete_id,event_name,event_date,n_runners,finish_time,position,athlete_gender,athlete_age,...,humidity,dew_point,clouds,wind_speed,wind_deg,weather.main,weather.description,rain.1h,snow.1h,track_description_surface
0,22732,8002,790131949,Александрино,2023-05-27,24,1413,4,мужской,32,...,71,6.79,40,6.00,300,Clouds,scattered clouds,NaN,NaN,грунт
1,43498,9401,790127832,Александрино,2023-07-22,25,1927,17,женский,38,...,72,12.81,40,8.05,260,Clouds,scattered clouds,NaN,NaN,грунт
2,65916,7495,790113063,Александрино,2023-05-06,28,1537,6,женский,48,...,42,-6.46,40,6.00,10,Clouds,scattered clouds,NaN,NaN,грунт
3,65895,8858,790130321,Александрино,2023-07-01,28,1520,8,мужской,48,...,56,13.68,0,4.02,270,Clear,clear sky,NaN,NaN,грунт
4,25323,8011,790131645,Александрино,2023-05-13,33,1520,7,мужской,33,...,55,6.06,0,4.02,320,Clear,clear sky,NaN,NaN,грунт

In [10]:
df['athlete_gender'] = df['athlete_gender'].replace({'мужской':1, 'женский':0})

In [11]:
df['rain.1h'] = df['rain.1h'].fillna(0)
df['snow.1h'] = df['snow.1h'].fillna(0)

In [12]:
df.head()

,Unnamed: 0,record_id,athlete_id,event_name,event_date,n_runners,finish_time,position,athlete_gender,athlete_age,...,humidity,dew_point,clouds,wind_speed,wind_deg,weather.main,weather.description,rain.1h,snow.1h,track_description_surface
0,22732,8002,790131949,Александрино,2023-05-27,24,1413,4,1,32,...,71,6.79,40,6.00,300,Clouds,scattered clouds,0.0,0.0,грунт
1,43498,9401,790127832,Александрино,2023-07-22,25,1927,17,0,38,...,72,12.81,40,8.05,260,Clouds,scattered clouds,0.0,0.0,грунт
2,65916,7495,790113063,Александрино,2023-05-06,28,1537,6,0,48,...,42,-6.46,40,6.00,10,Clouds,scattered clouds,0.0,0.0,грунт
3,65895,8858,790130321,Александрино,2023-07-01,28,1520,8,1,48,...,56,13.68,0,4.02,270,Clear,clear sky,0.0,0.0,грунт
4,25323,8011,790131645,Александрино,2023-05-13,33,1520,7,1,33,...,55,6.06,0,4.02,320,Clear,clear sky,0.0,0.0,грунт

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74368 entries, 0 to 74367
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 74368 non-null  int64
 1   record_id                  74368 non-null  int64
 2   athlete_id                 74368 non-null  int64
 3   event_name                 74368 non-null  object
 4   event_date                 74368 non-null  datetime64[ns]
 5   n_runners                  74368 non-null  int64
 6   finish_time                74368 non-null  int64
 7   position                   74368 non-null  int64
 8   athlete_gender             74368 non-null  int64
 9   athlete_age                74368 non-null  int64
 10  best_time                  74368 non-null  int64
 11  worst_time                 74368 non-null  int64
 12  mean_time                  74368 non-null  float64
 13  median_time                74368 non-null  float64
 14  times                      74368 non-null  int64
 15  num_locations              74368 non-null  int64
 16  home                       74368 non-null  object
 17  temp                       74368 non-null  float64
 18  feels_like                 74368 non-null  float64
 19  pressure                   74368 non-null  int64
 20  humidity                   74368 non-null  int64
 21  dew_point                  74368 non-null  float64
 22  clouds                     74368 non-null  int64
 23  wind_speed                 74368 non-null  float64
 24  wind_deg                   74368 non-null  int64
 25  weather.main               74368 non-null  object
 26  weather.description        74368 non-null  object
 27  rain.1h                    74368 non-null  float64
 28  snow.1h                    74368 non-null  float64
 29  track_description_surface  74368 non-null  object
dtypes: datetime64[ns](1), float64(8), int64(16), object(5)
memory usage: 17.0+ MB

In [15]:
av_time = df.groupby(['event_name']).agg(
    {'record_id': 'count', 'finish_time': 'mean', 'athlete_gender': 'mean', 'athlete_age': 'mean', 
     'feels_like': 'mean', 'humidity': 'mean', 'clouds': 'mean', 'wind_speed': 'mean', 
     'rain.1h': 'mean', 'snow.1h': 'mean' }).reset_index()
av_time.columns = ['место забега', 'кол-во забегов', 'среднее время забегов', 'пол бегунов', 'средний возраст бегунов',
                   'средняя fells_like температура', 'средняя влажность', 'средняя облачность', 'средняя скорость ветра',
                  'средняя частота дождя', 'средняя частота снега']
av_time

,место забега,кол-во забегов,среднее время забегов,пол бегунов,средний возраст бегунов,средняя fells_like температура,средняя влажность,средняя облачность,средняя скорость ветра,средняя частота дождя,средняя частота снега
0,Александрино,667,1837.742129,0.563718,40.353823,8.557706,76.187406,38.928036,4.095322,0.081589,0.011334
1,Бабушкинский на Яузе,556,1755.116906,0.573741,34.496403,5.122068,80.041367,71.298561,3.669173,0.084353,0.007446
2,Балашиха Заречная,439,1738.389522,0.692483,36.291572,9.378975,81.824601,69.227790,3.400228,0.133144,0.011298
3,Белгород Парк Победы,1172,1832.502560,0.576792,32.276451,9.589744,76.807167,43.999147,3.845333,0.029138,0.006058
4,Битца,390,1785.048718,0.730769,35.687179,8.172667,79.366667,64.807692,3.575359,0.062590,0.011410
...,...,...,...,...,...,...,...,...,...,...,...
124,Швейцария,514,1788.439689,0.507782,35.669261,6.547996,80.295720,39.163424,2.984436,0.000000,0.023502
125,Электросталь Авангард,35,2058.085714,0.657143,40.542857,-3.070000,97.857143,100.000000,5.252857,0.000000,0.194286
126,Южно-Сахалинск парк Гагарина,254,1967.401575,0.389764,38.874016,5.068110,87.409449,53.610236,2.770748,0.068386,0.000000
127,Южноуральск,314,2057.589172,0.515924,45.980892,-4.560796,87.181529,74.382166,3.553312,0.032866,0.000000
128,Якутск Дохсун,410,1880.946341,0.497561,37.746341,5.518561,62.373171,24.331707,2.639439,0.002561,0.020854

In [17]:
weather_by_city = df.groupby(['event_name', 'weather.main']).size().reset_index(name='counts')
weather_by_city

               event_name weather.main  counts
0            Александрино        Clear     232
1            Александрино       Clouds     289
2            Александрино         Rain      73
3            Александрино         Snow      73
4    Бабушкинский на Яузе        Clear      92
..                    ...          ...     ...
555         Якутск Дохсун          Fog       2
556         Якутск Дохсун         Mist       4
557         Якутск Дохсун         Rain      25
558         Якутск Дохсун        Smoke       9
559         Якутск Дохсун         Snow      40

[560 rows x 3 columns]

In [25]:
weather_types = df['weather.main'].unique()

weather_counts = df.groupby(['event_name', 'weather.main']).size().reset_index(name='counts')

# Шаг 3: Подсчитываем общее количество записей для каждого города
total_counts = df.groupby('event_name').size().reset_index(name='total')

# Шаг 4: Объединяем таблицы погоды
merged_weather = pd.merge(weather_counts, total_counts, on='event_name')

# Шаг 5: Рассчитываем проценты
merged_weather['percentage'] = (merged_weather['counts'] / merged_weather['total']) * 100

# Шаг 6: Создаём полную комбинацию городов и типов погоды
full_combinations = pd.MultiIndex.from_product([df['event_name'].unique(), weather_types], names=['event_name', 'weather.main']).to_frame(index=False)

# Шаг 7: Объединяем таблицу с полной комбинацией и рассчитанные данные по погоде
weather_full = pd.merge(full_combinations, merged_weather[['event_name', 'weather.main', 'percentage']], on=['event_name', 'weather.main'], how='left')

# Заполняем отсутствующие проценты нулями
weather_full['percentage'] = weather_full['percentage'].fillna(0)

weather_full.columns = ['место забега', 'вид погоды', 'вероятность']

weather_full

       место забега    вид погоды  вероятность
0      Александрино        Clouds    43.328336
1      Александрино         Clear    34.782609
2      Александрино          Rain    10.944528
3      Александрино          Snow    10.944528
4      Александрино          Mist     0.000000
...             ...           ...          ...
1285  Якутск Дохсун       Drizzle     0.000000
1286  Якутск Дохсун           Fog     0.487805
1287  Якутск Дохсун  Thunderstorm     0.000000
1288  Якутск Дохсун         Smoke     2.195122
1289  Якутск Дохсун          Haze     0.000000

[1290 rows x 3 columns]

In [26]:
av_time_full = pd.merge(av_time, weather_full, on='место забега', how='inner') 
av_time_full

,место забега,кол-во забегов,среднее время забегов,пол бегунов,средний возраст бегунов,средняя fells_like температура,средняя влажность,средняя облачность,средняя скорость ветра,средняя частота дождя,средняя частота снега,вид погоды,вероятность
0,Александрино,667,1837.742129,0.563718,40.353823,8.557706,76.187406,38.928036,4.095322,0.081589,0.011334,Clouds,43.328336
1,Александрино,667,1837.742129,0.563718,40.353823,8.557706,76.187406,38.928036,4.095322,0.081589,0.011334,Clear,34.782609
2,Александрино,667,1837.742129,0.563718,40.353823,8.557706,76.187406,38.928036,4.095322,0.081589,0.011334,Rain,10.944528
3,Александрино,667,1837.742129,0.563718,40.353823,8.557706,76.187406,38.928036,4.095322,0.081589,0.011334,Snow,10.944528
4,Александрино,667,1837.742129,0.563718,40.353823,8.557706,76.187406,38.928036,4.095322,0.081589,0.011334,Mist,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1285,Якутск Дохсун,410,1880.946341,0.497561,37.746341,5.518561,62.373171,24.331707,2.639439,0.002561,0.020854,Drizzle,0.000000
1286,Якутск Дохсун,410,1880.946341,0.497561,37.746341,5.518561,62.373171,24.331707,2.639439,0.002561,0.020854,Fog,0.487805
1287,Якутск Дохсун,410,1880.946341,0.497561,37.746341,5.518561,62.373171,24.331707,2.639439,0.002561,0.020854,Thunderstorm,0.000000
1288,Якутск Дохсун,410,1880.946341,0.497561,37.746341,5.518561,62.373171,24.331707,2.639439,0.002561,0.020854,Smoke,2.195122
1289,Якутск Дохсун,410,1880.946341,0.497561,37.746341,5.518561,62.373171,24.331707,2.639439,0.002561,0.020854,Haze,0.000000

In [48]:
av_time_full.to_excel('av_table.xlsx')